{% extends "::admin.html.twig" %}
{% block content %}
<div class="ct">
    {{ include('AppHelperBundle:bootstrap:naglowek.html.twig', {h1: 'Uzytkownicy', small: 'Lista'}) }}
{#    {{ include('AppHelperBundle:basic:filter_form.html.twig', {filterForm: filterForm}) }}#}
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Email</th>
            <th>Akcja</th>

        </tr>
        {% for object in collection %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.imie }}</td>
            <td>{{ object.nazwisko }}</td>
            <td>{{ object.login }}</td>
            <td>{{ object.email }}</td>
            <td>
                <div>
                    <a href="{{ url('uzytkownik_config', {'id': object.id}) }}"><span class="glyphicon glyphicon-cog"></span></a>
                    <a href="{{ url('uzytkownik_edit', {'id': object.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{ url('uzytkownik_delete', {'id': object.id}) }}"><span class="glyphicon glyphicon-remove span-remove"></span></a>
                </div>
            </td>

        </tr>
        {% endfor %}
    </table>
    <form method="get" action="{{ url('uzytkownik_new') }}">
        <div class="btn"><button class="btn btn-success">New</button></div>
    </form>
    {{ include('AppHelperBundle:bootstrap:pagination.html.twig', {page: page, count: count}) }}
</div>
{% endblock content %}
