<div class="navigation">
    <a href="{{ url('homepage') }}">
        <div data-toggle="tooltip" title="Strona główna" class="nav-element left {% if(app.request.get('_route') == 'homepage') %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-home"></span>
        </div>
    </a>
    <a href="{{ url('projects') }}">
        <div data-toggle="tooltip" title="Projekty" class="nav-element left {% if(app.request.get('_route') matches('/projects/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-tasks"></span>
        </div>
    </a>
    <a href="{{ url('calendar', { year: "now"|date('Y'), month: "now"|date('m') }) }}">
        <div data-toggle="tooltip" title="Kalendarz" class="nav-element left {% if(app.request.get('_route') matches('/calendar/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </a>
    <a href="{{ url('_logout') }}">
        <div data-toggle="tooltip" title="Wyloguj się" class="nav-element right">
            <span class="glyphicon glyphicon-off"></span>
        </div>
    </a>
    <a href="{{ url('rachunek') }}">
        <div data-toggle="tooltip" title="Rachunek firmy" class="nav-element right {% if(app.request.get('_route') matches('/rachunek/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon glyphicon-usd"></span>
        </div>
    </a>
    <a href="{{ url('settings') }}">
        <div data-toggle="tooltip" title="Ustawienia" class="nav-element right {% if(app.request.get('_route') matches('/settings/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-cog"></span>
        </div>
    </a>
    <a href="{{ url('profile_edit') }}">
        <div data-toggle="tooltip" title="Profil" class="nav-element right {% if(app.request.get('_route') matches('/profile/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </a>
    <a href="{{ url('users') }}">
        <div data-toggle="tooltip" title="Użytkownicy" class="nav-element right {% if(app.request.get('_route') matches('/users/')) %} nav-element-active {% endif %}">
            <span class="glyphicon glyphicon-globe"></span>
        </div>
    </a>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $().ready(function(){
        $('div').tooltip('hide');
    })
</script>