{% extends "::mail_info.html.twig" %}
{% block nav %}
Projekt: <a style="color: #805600;" href="{{ url('tasks', {projekt_nazwa: task.projekt.name }) }}">{{ task.projekt.label }}</a><br />
Zadanie: <a style="color: #805600;" href="{{ url('tasks', {projekt_nazwa: task.projekt.name, task_id: task.id}) }}">{{ task.label }}</a><br />
{% endblock nav %}
{% block title %}
Zadanie zostało na nowo otwarte.<br />
{% endblock title %}
{% block content %}
    {{ aktualny }} otworzył zadanie dnia {{ 'now'|date('Y-m-d') }}
{% endblock content %}
{% block footer %}
Ilość wiadomości w zadaniu: {{ task.wiadomosci|length }}
{% endblock footer %}