{% extends "::mail_info.html.twig" %}
{% block nav %}
Projekt: <a style="color: #805600;" href="{{ url('tasks', {projekt_nazwa: task.projekt.name }) }}">{{ task.projekt.label }}</a><br />
Zadanie: <a style="color: #805600;" href="{{ url('tasks', {projekt_nazwa: task.projekt.name, task_id: task.id}) }}">{{ task.label }}</a><br />
Zadanie przepiął: {{ aktualny }}
{% endblock nav %}
{% block title %}
Zadanie zostało przepięte
{% endblock title %}
{% block content %}
{{ wiadomosc.tresc|raw }}
{% endblock content %}
{% block footer %}
Status zadania: {{ task.getStatusLabel() }}<br />
Ilość wiadomości w zadaniu: {{ task.wiadomosci|length }}
{% endblock footer %}