{% extends "::frontend.html.twig" %}
{% block templatestyle %}
        {% include 'AppHelperBundle:ui:load.html.twig' %}
{% endblock %}

{% block content %}
{% include 'AppHelperBundle:basic:flash.html.twig' %}
{{ include('AppHelperBundle:ui:datapicker.html.twig', { arrObj: ['.date_to'] } ) }}

<div class="cloud">
    <div class="cloud_tt">
        <h3>Nowe zadanie</h3>
    </div>
    <div class="cloud_ct">
        <form action="" method="POST" {{ form_enctype(form) }} >
            <div class="well-sm">
                {{ form_widget(form.label) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form.uzytkownicy) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form.aktualny) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form.priorytet) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form.date_to) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form.opis) }}
            </div>
            <div class="well-sm">
                {{ include('AppHelperBundle:basic:zalacz_pliki.html.twig',{ name: 'pliki' }) }}
            </div>
            <div class="well-sm">
                {{ form_widget(form._token) }}
                {{ form_widget(form.save) }}
            </div>
        </form>
    </div> 
</div>
{{ tinymce_init() }}
<script>
    $('.selectpicker').selectpicker();
</script>
{% endblock %}