<div class="panel-body">
    <div class="row well-sm">
        <div class="col-md-2 well-sm"><label for="imie">Imie: </label></div>
        <div class="col-md-4"><input class="form-control" type="imie" value="{{ app.user.imie }}" name="imie" /></div>
    </div>
    <div class="row well-sm">
        <div class="col-md-2 well-sm"><label for="nazwisko">Nazwisko: </label></div>
        <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.nazwisko }}" name="nazwisko" /></div>
    </div>
    <div class="row well-sm">
        <div class="col-md-2 well-sm"><label for="login">Login: </label></div>
        <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.login }}" name="login" /></div>
    </div>
    <div class="row well-sm">
        <div class="col-md-2 well-sm"><label for="email">Adres email: </label></div>
        <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.email }}" name="email" /></div>
    </div>
    <div class="row well-sm">
        <div class="col-md-2">
            <button id="profile-edit-basic-btn" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-ok"></span> Zapisz zmiany
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function() {
        $('#ok').click(function() {
            $(this).parent().fadeOut('slow');
        });
        $('#profile-edit-basic-btn').click(function() {
            idLoad = '#collapseOne';
            arr = new Array();
            arr[0] = 'imie=' + $(idLoad).find("input[name='imie']").val();
            arr[1] = 'nazwisko=' + $(idLoad).find("input[name='nazwisko']").val();
            arr[2] = 'login=' + $(idLoad).find("input[name='login']").val();
            arr[3] = 'email=' + $(idLoad).find("input[name='email']").val();

            $fe = new FormValidator(idLoad);
            $fe.clean();
            $fe.validateText({
                'name': 'imie',
                'value': $(idLoad).find("input[name='imie']").val(),
                'required': true,
                'max_lenght': '255'
            });

            if ($fe.isValid()) {
                dataString = arr.join('&');
                ajaxChangeContent({
                    append: false,
                    data: dataString,
                    url: '{{ url('profile_edit_change_basic') }}',
                    id: '#profile-edit-basic-btn',
                    idLoad: idLoad,
                    msg: 'Dane zostały zaktualizowane'
                });
            } else {
                $fe.showErrors();
            }
        });
    });
</script>