{% extends "::frontend.html.twig" %}

{% block templatestyle %}
    {% include 'AppHelperBundle:basic:ajax.html.twig' %}
{% endblock templatestyle %}

{% block content %}

<div class="cloud">
    <div class="cloud_tt"><h3>Edycja danych</h3></div>
    <div class="cloud_ct">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Podstawowe dane <span style="float: right" class="glyphicon glyphicon-circle-arrow-down" ></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in relative">
                    <div class="panel-body">
                        <div class="row well-sm">
                            <div class="col-md-2 well-sm"><label for="imie">Imie: </label></div>
                            <div class="col-md-4"><input class="form-control" type="imie" value="{{ app.user.imie }}" name="imie" /></div>
                        </div>
                        <div class="row well-sm">
                            <div class="col-md-2 well-sm"><label for="nazwisko">Nazwisko: </label></div>
                            <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.nazwisko }}" name="nazwisko" /></div>
                        </div>
                        <div class="row well-sm">
                            <div class="col-md-2 well-sm"><label for="login">Login: </label></div>
                            <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.login }}" name="login" /></div>
                        </div>
                        <div class="row well-sm">
                            <div class="col-md-2 well-sm"><label for="email">Adres email: </label></div>
                            <div class="col-md-4"><input class="form-control" type="text" value="{{ app.user.email }}" name="email" /></div>
                        </div>
                        <div class="row well-sm">
                            <div class="col-md-2">
                                <button id="profile-edit-basic-btn" type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-ok"></span> Zapisz zmiany
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Zmiana hasła <span style="float: right" class="glyphicon glyphicon-circle-arrow-down" ></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Zaawansowane <span style="float: right" class="glyphicon glyphicon-circle-arrow-down" ></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function() {
        $('#profile-edit-basic-btn').click(function() {
            idLoad = '#collapseOne';
            arr = new Array();
            arr[0] = 'imie=' + $(idLoad).find("input[name='imie']").val();
            arr[1] = 'nazwisko=' + $(idLoad).find("input[name='nazwisko']").val();
            arr[2] = 'login=' + $(idLoad).find("input[name='login']").val();
            arr[3] = 'email=' + $(idLoad).find("input[name='email']").val();

            $fe = new FormValidator(idLoad);
            $fe.validateText({
                'name': 'imie',
                'value': $(idLoad).find("input[name='imie']").val(),
                'required': true,
                'max_lenght': '255'
            });

            if ($fe.isValid()) {
                dataString = arr.join('&');
                ajaxChangeContent({
                    append: false,
                    data: dataString,
                    url: '{{ url('profile_edit_change_basic') }}',
                    id: '#profile-edit-basic-btn',
                    idLoad: idLoad,
                    msg: 'Dane zostały zaktualizowane'
                });
            } else {
                $fe.showErrors();
            }
        });
    });
</script>

{% endblock %}